:root {
  /* DEFINE VARIABLES - AVAILABLE THROUGHOUT APP */
  /* SEE STYLE GUIDE FOR FURTHER GUIDANCE: https://github.com/fac18/humble/issues/2 */

  /* COLOURS */
  /* off white for backgrounds */
  --background: var(#f7fff7);
  /* otter brown for text */
  --primary: var(#583e23);
  /* leaf green as secondary colour */
  --secondary: var(#bed558);
  /* sand yellow for detail and accenting */
  --detail: var(#ecd444);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}