:root {
  /* VARIABLES - AVAILABLE THROUGHOUT APP */
  /* SEE STYLE GUIDE FOR FURTHER GUIDANCE: https://github.com/fac18/humble/issues/2 */

  /* COLOURS */

  /* off white for backgrounds */
  --background: var(#f7fff7);
  /* otter brown for text */
  --primary: var(#583e23);
  /* leaf green as secondary colour */
  --secondary: var(#bed558);
  /* sand yellow for detail and accenting */
  --detail: var(#ecd444);

  /* SPACING */

  --space-unit: 1em;

  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));

  --component-padding: var(--space-md);

}

body {
  margin: 0;
  font-size: 1.25rem;
  background: var(--background);
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}