:root {
  /* VARIABLES - AVAILABLE THROUGHOUT APP */
  /* SEE STYLE GUIDE FOR FURTHER GUIDANCE: https://github.com/fac18/humble/issues/2 */

  /* COLOURS */

  /* off white for backgrounds */
  --background: #f7fff7;
  /* otter brown for text */
  --primary: #583e23;
  /* leaf green as secondary colour */
  --secondary: #ecd444;
  /* sand yellow for detail and accenting */
  --detail: #bed558;

  /* SPACING */

  --space-unit: 1em;

  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));

  /* Most components will have padding but we use margin more sparingly to avoid weird flow */
  --component-padding: var(--space-sm);
  --component-margin: var(--space-xxs);
  --border-width: calc(0.5 * var(--space-xxxxs));

  /* FONT */

  --font-unit: 1em;

  /* bring default 16px font up to 18px, while observing user style sheet and making it possible to enlarge for different media*/
  --font-p: calc(1.125 * var(--font-unit));
  --font-h4: calc(1.25 * var(--font-unit));
  --font-h3: calc(1.375 * var(--font-unit));
  --font-h2: calc(1.5 * var(--font-unit));
  --font-h1: calc(2.625 * var(--font-unit));
  --font-logo: calc(3.5 * var(--font-unit));
}

body {
  margin: 0;
  background: var(--background);
  color: var(--primary);
  font-family: "Dosis Regular", "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
